---
title: Платформа для работы со СМИ
section: personal-brand
---
<!-- Intro -->
<section class="pf-section pf-section-first bg-waves-3">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="pf-punchline text-center mt-3 mb-5">
                    <h1 class="pf-punchline-title-extra mb-3">Платформа для работы со&nbsp;СМИ</h1>
                    <p class="col-md-9 t-l mx-auto text-violet fw-500">Организуйте публикации и&nbsp;эфиры с&nbsp;упоминанием вашего имени или компании</p>
                </div>
                <div class="row justify-content-center mb-4 fw-500">
                    <div class="col-sm-5">
                        <p class="d-flex">
                            <i class="material-icons mr-3">done_outline</i>
                            <span>Экспертам и&nbsp;пиарщикам&nbsp;&mdash; бесплатные упоминания в&nbsp;СМИ</span>
                        </p>
                        <p class="d-flex">
                            <i class="material-icons mr-3">done_outline</i>
                            <span>Оптимальное решение для продвижения небольших компаний</span>
                        </p>
                        <p class="d-flex">
                            <i class="material-icons mr-3">done_outline</i>
                            <span>Повышение трафика на&nbsp;сайт и&nbsp;продаж</span>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p class="d-flex">
                            <i class="material-icons mr-3">done_outline</i>
                            <span>Укрепление репутации, повышение имиджа и&nbsp;лояльности клиентов</span>
                        </p>
                        <p class="d-flex">
                            <i class="material-icons mr-3">done_outline</i>
                            <span>Экономия времени&nbsp;&mdash; вы&nbsp;можете получить публикацию за&nbsp;30&nbsp;минут</span>
                        </p>
                        <p class="d-flex">
                            <i class="material-icons mr-3">done_outline</i>
                            <span>Новые связи и&nbsp;знакомства с&nbsp;журналистами</span>
                        </p>
                    </div>
                </div>
                <div class="text-center mb-5">
                    <a class="btn btn-lg btn-warning t-m"
                       href="https://pressfeed.ru/signup">Бесплатная регистрация</a>
                </div>
                <div class="text-center">
                    <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/screen-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Stats -->
<section class="pf-section-zero py-5 bg-light">
    <div class="container container-fluid">
        <div class="row text-center justify-content-center f-semi">
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3 text-primary">50&nbsp;000</div>
                <div class="text-gray-light mb-2">компаний используют Pressfeed</div>
            </div>
            <div class="col-md-4 pb-5 pb-md-0">
                <div class="pf-step mx-auto mb-3 text-primary">140&nbsp;000</div>
                <div class="text-gray-light mb-2">комментариев отправлено журналистам
                </div>
            </div>
            <div class="col-md-4">
                <div class="pf-step mx-auto mb-3 text-primary">40&nbsp;000</div>
                <div class="text-gray-light mb-2">публикаций вышло с 2014 года
                </div>
            </div>
        </div>
    </div>
</section>

<!-- How-to -->
<section id="how-to" class="pf-section-zero py-7">
    <div class="text-center mb-5">
        <h2 class="t-l">Как это работает</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 fw-500 pr-xl-6">
                <p class="mb-md-4 d-flex">
                    <i class="material-icons t-l mr-4 text-primary">filter_1</i>
                    <span>Вы&nbsp;регистрируетесь на&nbsp;сайте, открывается доступ в&nbsp;личный кабинет</span>
                </p>
                <p class="mb-md-4 d-flex">
                    <i class="material-icons t-l mr-4 text-primary">filter_2</i>
                    <span>В&nbsp;личном кабинете Вам доступны запросы журналистов, которые ищут материалы и&nbsp;экспертов для своих статей</span>
                </p>
                <p class="mb-md-4 d-flex">
                    <i class="material-icons t-l mr-4 text-primary">filter_3</i>
                    <span>Вы&nbsp;откликаетесь на&nbsp;запрос, который соответствует вашей тематике и&nbsp;выступаете в&nbsp;качестве эксперта</span>
                </p>
                <p class="mb-md-4 d-flex">
                    <i class="material-icons t-l mr-4 text-primary">filter_4</i>
                    <span>Для написания статьи журналист задает вам вопросы, получает комментарии и&nbsp;факты от&nbsp;Вас</span>
                </p>
                <p class="mb-md-4 d-flex">
                    <i class="material-icons t-l mr-4 text-primary">filter_5</i>
                    Вы&nbsp;получаете публикацию в&nbsp;известных СМИ с&nbsp;упоминанием вашего имени или бизнеса</span>
                </p>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img class="img-fluid" src="{{site.url}}{{site.baseurl}}/assets/img/screen-2x.png" alt="">
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a class="btn btn-lg btn-warning t-m"
           href="https://pressfeed.ru/signup">Бесплатная регистрация</a>
    </div>
</section>

<!-- Features -->
<section id="features" class="pf-section-zero bg-light py-7">
    <div class="text-center mb-5">
        <h2 class="t-l">Зачем это бизнесу</h2>
        <p class="col-md-9 t-m mx-auto">Публикации в&nbsp;СМИ&nbsp;— это бесплатный трафик для сайта. Трафик&nbsp;— это
            клиенты и&nbsp;продажи</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-danger">money_off</i>
                        <h5 class="fw-600">Продвижение за&nbsp;0&nbsp;рублей в&nbsp;месяц</h5>
                        <p class="text-gray-light">Продвигать свою компанию, продукт или личный бренд на Pressfeed можно
                            совершенно бесплатно</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-danger">trending_up</i>
                        <h5 class="fw-600">Рост трафика на&nbsp;30%</h5>
                        <p class="text-gray-light">Продвижение в&nbsp;СМИ самое эффективное. Люди охотнее кликают на&nbsp;ссылки
                            в&nbsp;статьях, чем&nbsp;на&nbsp;баннеры</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-danger">star_border</i>
                        <h5 class="fw-600">Повышение узнаваемости бренда</h5>
                        <p class="text-gray-light">С&nbsp;Pressfeed работают почти все топовые издания и&nbsp;телеканалы.
                            Упоминания в&nbsp;них&nbsp;— отличная имиджевая реклама</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-danger">search</i>
                        <h5 class="fw-600">Улучшение позиций в&nbsp;поисковиках</h5>
                        <p class="text-gray-light">Поисковики любят сайты СМИ. Упоминания в&nbsp;прессе дают
                            хорошие ссылки, повышают ваш&nbsp;рейтинг в&nbsp;поисковой выдаче</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-danger">done_all</i>
                        <h5 class="fw-600">Все инструменты для работы со&nbsp;СМИ</h5>
                        <p class="text-gray-light">Подписка на запросы по теме, поиск по базе СМИ, чаты с журналистами,
                            рассылка пресс-релизов и не только</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-danger">chat_bubble_outline</i>
                        <h5 class="fw-600">Контакты с&nbsp;нужными СМИ</h5>
                        <p class="text-gray-light">С&nbsp;Pressfeed работают более 4000 изданий, телеканалов и
                            радиостанций&nbsp;— это&nbsp;почти
                            половина редакций
                            страны!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Personal brand -->
<section class="pf-section-zero py-7">
    <div class="text-center mb-5">
        <h2 class="t-l">Публикации в СМИ — эффективный способ создания личного бренда</h2>
        <p class="col-md-9 t-m mx-auto">Личный бренд позволит вам:</p>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-4 fw-500">
            <div class="col-sm-5 pr-lg-7">
                <p class="d-flex">
                    <i class="material-icons mr-3">done_outline</i>
                    <span>В&nbsp;разы больше зарабатывать</span>
                </p>
                <p class="d-flex">
                    <i class="material-icons mr-3">done_outline</i>
                    <span>Приобрести статус эксперта</span>
                </p>
                <p class="d-flex">
                    <i class="material-icons mr-3">done_outline</i>
                    <span>Получить постоянный поток заявок на&nbsp;ваши товары и&nbsp;услуги</span>
                </p>
            </div>
            <div class="col-sm-5">
                <p class="d-flex">
                    <i class="material-icons mr-3">done_outline</i>
                    <span>Экономить на&nbsp;маркетинге и&nbsp;рекламе</span>
                </p>
                <p class="d-flex">
                    <i class="material-icons mr-3">done_outline</i>
                    <span>Быть вне конкуренции</span>
                </p>
                <p class="d-flex">
                    <i class="material-icons mr-3">done_outline</i>
                    <span>Привлекать партнеров и&nbsp;новые возможности</span>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Tools -->
<section class="pf-section-zero bg-light py-7">
    <div class="text-center mb-5">
        <h2 class="t-l">Все инструменты для работы со СМИ на одной платформе</h2>
        <p class="col-md-9 t-m mx-auto">Используйте публикации в СМИ для бесплатного продвижения компании и личного бренда</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-primary">question_answer</i>
                        <h5 class="fw-600">Запросы журналистов на экспертные комментарии</h5>
                        <p class="text-gray-light">Отвечайте на запросы журналистов на комментарии, героев, кейсы для готовящихся материалов</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-primary">vertical_split</i>
                        <h5 class="fw-600">База СМИ</h5>
                        <p class="text-gray-light">Более 5 000 изданий с данными о составе редакций, актуальными запросами на экспертные комментарии и бонусами для участников спецпроектов</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-primary">contact_phone</i>
                        <h5 class="fw-600">Контакты с журналистами</h5>
                        <p class="text-gray-light">Используйте внутренние чаты, чтобы напрямую общаться с 10 000 журналистов, использующих сервис</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-primary">photo_camera</i>
                        <h5 class="fw-600">Запросы изданий на продукцию для тестов и обзоров</h5>
                        <p class="text-gray-light">Предоставьте СМИ образцы своих продуктов для обзоров, новостей, тестов, телепрограмм и спецпроектов</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-primary">live_tv</i>
                        <h5 class="fw-600">Приглашения на теле- и радиоэфиры</h5>
                        <p class="text-gray-light">Участвуйте в телеэфирах, выступайте экспертом в популярных программах на крупнейших телеканалах и радиостанциях</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-4 pr-md-3">
                        <i class="material-icons display-4 text-primary">card_giftcard</i>
                        <h5 class="fw-600">Бонусы и подарки от СМИ</h5>
                        <p class="text-gray-light">Получайте в подарок рекламные банеры, размещение новостей, рассылки и другое промо при участии в спецпроектах и покупке рекламы в СМИ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cases  -->
<section id="cases" class="py-7">
    <div class="text-center mb-5">
        <h2 class="t-l">Как привлекать трафик и увеличивать продажи с помощью Pressfeed</h2>
        <p class="t-m">Истории и отзывы наших пользователей</p>
    </div>
    <div class="p-cases mb-5 mx-auto">
        {% for case in site.cases limit:4 %}
        <a class="p-cases-item"
           href="{{site.url}}{{site.baseurl}}{{case.url}}"
           style="background-image: url({{site.url}}{{site.baseurl}}/{{case.thumbnail}});">
            <div class="p-case-inner">
                <div class="p-case-header">
                    <span class="text-uppercase mr-1">{{case.tag}}</span>
                    <span class="float-md-right text-warning">{{case.company}}</span>
                </div>
                <h2 class="p-case-title">{{case.title}}</h2>
            </div>
            <div class="p-cases-back"></div>
        </a>
        {% endfor %}
    </div>
    <div id="reviews" class="pf-testimonials">
        {% assign showOnInit = 16 %}
        {% for testimonial in site.data.testimonials.testimonials.testimonials limit: showOnInit %}
        <a class="pf-testimonial" href="{{testimonial.link}}" target="_blank">
            <div class="pf-testimonial-text">{{testimonial.text}}</div>
            <div class="pf-testimonial-person">
                <img width="60" height="60" src="{{site.url}}{{site.baseurl}}/{{testimonial.avatar}}">
                <div>
                    <div class="text-black">{{testimonial.name}}</div>
                    <div class="t-s no-wrap text-primary f-semi">{{testimonial.company}}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="pf-testimonials js-pf-testimonials-extra d-none">
        {% for testimonial in site.data.testimonials.testimonials.testimonials offset: showOnInit %}
        <a class="pf-testimonial" href="{{testimonial.link}}" target="_blank">
            <div class="pf-testimonial-text">{{testimonial.text}}</div>
            <div class="pf-testimonial-person">
                <img width="60" height="60" src="{{site.url}}{{site.baseurl}}/{{testimonial.avatar}}">
                <div>
                    <div class="text-black">{{testimonial.name}}</div>
                    <div class="t-s no-wrap text-primary f-semi">{{testimonial.company}}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="text-center">
        <button class="btn btn-outline-primary cursor js-testimonials-more-button mt-3" type="button">Еще отзывы
        </button>
    </div>
</section>

<!-- Plans -->
<section  id="plans" class="pf-section bg-light py-7">

    <div class="text-center mb-5">
        <h2 class="t-l">Пользоваться Pressfeed можно бесплатно</h2>
        <p class="t-m">Если нужно больше возможностей, можно перейти на профессиональные платные тарифы</p>
    </div>
    <div class="pf-plans pf-plans-unreg mb-3">
        <div class="pf-plans-item">
            <div class="pf-plans-item-top">
                <img class="mb-1 mx-auto" width="70" src="{{site.url}}{{site.baseurl}}/assets/img/icon-tariff-1.svg">
                <h4>Базовый</h4>
                <p>Для знакомства с&nbsp;сервисом</p>
            </div>
            <div class="pf-plans-item-bottom">
                <div class="t-m f-semi mb-half text-violet">Бесплатно</div>
            </div>
        </div>
        <div class="pf-plans-item js-plan-1">
            <div class="pf-plans-item-top">
                <img class="mb-1 mx-auto" width="70" src="{{site.url}}{{site.baseurl}}/assets/img/icon-tariff-2.svg">
                <h4>Эксперт</h4>
                <p>Для независимых экспертов, работающих от&nbsp;своего имени</p>
            </div>
            <div class="pf-plans-item-bottom">
                <div class="t-m f-semi js-plan-price mb-half">3591&nbsp;&#8381</div>
                <p class="text-gray-light font-sm js-plan-note">в месяц при подписке на
                    год</p>
            </div>
        </div>
        <div class="pf-plans-item pf-plans-item-special js-plan-2">
            <div class="pf-plans-item-top">
                <img class="mb-1 mx-auto" width="70" src="{{site.url}}{{site.baseurl}}/assets/img/icon-tariff-3.svg">
                <h4>Компания</h4>
                <p>Для компаний с&nbsp;пресс-службой и&nbsp;экспертами-спикерами</p>
            </div>
            <div class="pf-plans-item-bottom">
                <div class="t-m f-semi js-plan-price mb-half">8910&nbsp;&#8381</div>
                <p class="text-gray-light font-sm js-plan-note">в месяц при подписке на год</p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p class="mb-5">
            <a href="{{site.url}}{{site.baseurl}}/s-plans.html">Подробнее о тарифах</a>
        </p>
        <a class="btn btn-lg btn-warning t-m"
           href="https://pressfeed.ru/signup">Бесплатная регистрация</a>
    </div>
</section>

<!-- FAQ -->
<section id="faq" class="pf-section">
    <div class="container container-fluid">
        <h2 class="t-l text-center mb-5">Вопросы</h2>
        <div class="pf-faq pb-3" style="border-bottom: 1px solid rgba(0, 0, 0, 0.15);">
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-2">Сколько редакций, журналистов
                    используют Pressfeed?</a>
                <div class="pf-faq-answer collapse" id="question-2">
                    Сегодня Pressfeed используют 7500 журналистов и 4000 СМИ. Это практически половина всех реально
                    действующих в России редакций. Ежемесячно на сервисе публикуются около 1500 запросов. За время
                    работы сервиса эксперты отправили в СМИ с помощью Pressfeed более 120 000 экспертных комментариев.
                    Зайдите на сервис, поищите нужные редакции и журналистов с помощью поиска и свяжитесь с ними
                    напрямую.
                </div>
            </div>
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-3">Сколько экспертов работает с
                    сервисом?</a>
                <div class="pf-faq-answer collapse" id="question-3">
                    Около 40 000. Из самых разных сфер, отраслей и должностей. Зайдите на сервис, поищите нужны
                    экспертов с помощью поиска и свяжитесь с ними напрямую.
                </div>
            </div>
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-4">Реально ли сервисом пользуются
                    крупные СМИ?</a>
                <div class="pf-faq-answer collapse" id="question-4">
                    Pressfeed используют все крупнейшие российские медиа: Коммерсантъ, РБК, Forbes, Известия, Российская
                    газета и другие издания, а еще телеканалы и радиостанции. Плюс ведущие отраслевые СМИ, региональные
                    порталы, издания всех сфер и направлений. Просто <strong>наберите в поиске</strong> название СМИ,
                    или тему и увидите сами издания, их запросы и журналистов, которые используют сервис. Ответьте на
                    запрос, если у вас есть нужная журналисту информация, или свяжитесь с ним напрямую через внутренний
                    чат.
                </div>
            </div>
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-6">Я представляю небольшую компанию,
                    буду ли я интересен СМИ?</a>
                <div class="pf-faq-answer collapse" id="question-6">
                    Да. Спустя три года работы и 120 000 комментариев, направленных экспертами в СМИ через Pressfeed, мы
                    видим, что журналистам требуются эксперты по самым разным темам. От специалистов по тепличным
                    хозяйствам до экспертов в строительстве яхт. Ценность Pressfeed для СМИ в том и состоит, что здесь
                    они обязательно найдут специалиста с нужным опытом, знаниями, кейсами, видением. <br><br>Зайдите на
                    сервис, посмотрите <strong>по каким темам</strong> требуются эксперты прямо сейчас. Уверены, вы
                    найдете свой запрос.
                </div>
            </div>
            <div class="pf-faq-item">
                <a class="pf-faq-question" data-toggle="collapse" href="#question-7">Мне нужен пиар, но у меня нет опыта
                    работы со СМИ. Я не знаю, как ответить на запрос журналиста. Что мне делать?</a>
                <div class="pf-faq-answer collapse" id="question-7">
                    Не переживайте, для общения с журналистом особых навыков не нужно. Просто ответьте на его вопросы в
                    запросе. Теми же словами, какими вы пишете письмо партнеру или пост на эту тему в Facebook. Если все
                    же не получается или нет времени, мы можем сделать все за вас. <br><br>Услуга «<a href='{{site.url}}{{site.baseurl}}/s-vp.html'
                                                                                                      target='_blank'>Виртуальный
                    пиарщик</a>» — это организация публикаций в СМИ силами наших менеджеров. Вы опишете нам задачу,
                    согласуете список СМИ, и мы сами предложим ваши темы и новости редакциям, подготовим контент и
                    доведем до публикации. Отправьте заявку с&nbsp;<a href='{{site.url}}{{site.baseurl}}/s-vp.html' target='_blank'>этой страницы</a>,
                    или напишите по&nbsp;адресу <a href='mailto:vp@pressfeed.ru'>vp@pressfeed.ru</a>, или позвоните нам
                    по телефону: 8&nbsp;(495)&nbsp;120-80-19.
                </div>
            </div>
        </div>

    </div>

</section>