<!-- Footer -->
<footer id="contact" class="pf-footer">

    <div class="container d-flex flex-column justify-content-center align-items-center text-center">

        {% if page.layout == "case" %}
            <h2 class="t-l text-center mb-5">Тоже хотите попасть в СМИ и получить больше клиентов?</h2>
            <div class="text-center mb-5">
                <a class="btn btn-lg btn-warning t-m px-5 py-3"
                   href="https://pressfeed.ru/signup">Начать работу c Pressfeed</a>
            </div>
        {% else %}
            <h2 class="t-l text-center mb-5">Начать работу с Pressfeed</h2>
            <div class="text-center mb-5">
                <a class="btn btn-lg btn-warning t-m"
                   href="https://pressfeed.ru/signup">
                    Бесплатная регистрация
                </a>
            </div>
        {% endif %}

        <div class="text-black">
            Остались вопросы?<br class="d-block d-sm-none"> Свяжитесь с&nbsp;нами:<br>
            <a href="tel:+7-495-120-80-19">{{ site.phone }}</a>, <a href="mailto:sales@pressfeed.ru">{{ site.email
            }}</a><br>
            Объясним, поможем.
        </div>

        <div class="social-media-list">
            <div class="mt-3">
                {%- if site.telegram_link -%}
                <a class="icon-telegram mr-2" href="{{ site.telegram_link | escape }}" target="_blank">
                    <svg width="32" height="32" viewBox="-1 -1 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none">
                            <circle stroke="#000" cx="14.781" cy="14.781" r="14.781"/>
                            <path d="M20.664 11.365c-1.029 2.874-2.383 6.969-3.555 9.931-1.678 4.242-3.223.447-3.223.447l-2.03-4.061s-1.806-.779-3.685-1.65c-3.569-1.654-1.058-3.068-1.058-3.068l11.272-4.004s3.837-1.948 2.278 2.405z"
                                  fill="#000"/>
                        </g>
                    </svg>
                </a>
                {%- endif -%}
                {%- if site.facebook_link -%}
                <a class="icon-facebook mr-2" href="{{ site.facebook_link | escape }}" target="_blank">
                    <svg width="32" height="32" viewBox="-1 -1 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none">
                            <circle stroke="#000" cx="14.981" cy="14.981" r="14.981"/>
                            <path d="M16.01 22.472l.025-7.395h1.98l.273-2.479h-2.253c-.03-2.065.054-2.416.751-2.617.846.029 1.707 0 1.707 0v-2.204c-2.284-.753-5.158-.303-4.984 4.82h-1.98v2.479h1.912l-.009 7.395 2.578.001z"
                                  fill="#000"/>
                        </g>
                    </svg>
                </a>
                {%- endif -%}
                {%- if site.vk_link -%}
                <a class="icon-vk mr-2" href="{{ site.vk_link | escape }}" target="_blank">
                    <svg width="32" height="32" viewBox="-1 -1 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none">
                            <circle stroke="#000" cx="15" cy="15" r="15"/>
                            <path d="M11.822 12.052c.429.056 1.17-.081.884 2.948-.014.147-.345 1.395-1.399-.295-.26-.417-1.272-2.939-1.62-2.948-1.169-.032-2.315-.08-2.725.147-.373.208.505 1.951 1.988 4.275 1.213 1.901 2.498 3.386 4.713 3.759.414.041 1.505.091 1.841-.074.234-.115-.05-1.763.736-1.916.354-.069 1.698 1.712 2.209 1.916.31.124.994.17 1.694.147.757-.024 1.611.066 1.694-.442.185-1.137-2.282-2.614-2.357-3.317-.053-.504.903-1.433 1.399-2.137.605-.859 1.261-1.892.884-2.211-.187-.158-.906-.151-1.62-.147-.73.004-1.453.008-1.62.074-.155.061-.504.902-.957 1.769-.513.98-1.146 1.923-1.547 1.916-.519-.008-.399-1.62-.368-2.801.02-.784-.107-1.029-.221-1.106-.277-.186-1.031-.368-1.031-.368s-2.254-.171-2.577.811z"
                                  fill="#000"/>
                        </g>
                    </svg>
                </a>
                {%- endif -%}
            </div>
        </div>

    </div>

</footer>