<!-- Header -->
<header class="pf-header">
    <div class="pf-header-container">
        <div class="pf-header-section d-flex align-items-stretch">
            <a class="pf-logo" href="{{site.url}}{{site.baseurl}}/s-index.html">pressfeed</a>
        </div>
        <div class="pf-header-section d-none d-lg-flex">
            <nav class="pf-header-nav">
                <div class="pf-header-nav-item f-sm">
                    Вопросы? Свяжитесь с нами:
                    <a class="text-primary" href="tel:+7-495-120-80-19">&nbsp;+7 (495) 120-80-19</a>・
                    <a class="text-primary" href="mailto:sales@pressfeed.ru">sales@pressfeed.ru</a>
                </div>
            </nav>
        </div>
        <div class="pf-header-section d-none d-lg-flex">
            <a class="btn btn-sm btn-warning" href="//pressfeed.ru/signup">Регистрация</a>
            <a class="btn btn-sm btn-link ml-2" href="//pressfeed.ru/signin">Вход</a>
        </div>
        <a class="btn btn-sm btn-warning d-lg-none ml-auto mr-3" href="//pressfeed.ru/signup">Регистрация</a>
        <div class="hidden-lg-up burger" id="menu-mob-trigger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>

<!-- Mobile Menu-->
<div class="menu-mob" id="menu-mob">
    <nav class="d-flex flex-column h4 system align-items-center">
        <a class="text-danger" href="s-vp.html?utm_campaign=pressfeed&utm_medium=header-mob&utm_source=do_it_for_me">Сделать
            все за меня</a>
        <a href="s-jours.html">Журналистам</a>
        <a href="s-experts.html">Экспертам</a>
        <a href="s-cases.html">Кейсы</a>
        <a class="js-plans-link" href="s-plans.html">Тарифы</a>
        <a href="//news.pressfeed.ru/">Блог</a>
        <a class="pt-4 text-black" href="//pressfeed.ru/signin">Вход</a>
    </nav>
</div>