<!-- Header -->
<header class="pf-header">
  <div class="pf-header-container">
    <div class="pf-header-section d-flex align-items-stretch">
      <a class="pf-logo" href="{{site.url}}{{site.baseurl}}/s-index.html">pressfeed</a>
    </div>
    <div class="pf-header-section d-none d-lg-flex">
      <nav class="pf-header-nav">
        <a class="pf-header-nav-item" href="#how-to">Как это работает</a>
        <a class="pf-header-nav-item" href="#features">Преимущества</a>
        <a class="pf-header-nav-item" href="#cases">Отзывы</a>
        <a class="pf-header-nav-item" href="#plans">Тарифы</a>
        <a class="pf-header-nav-item" href="#faq">FAQ</a>
      </nav>
    </div>
    <div class="pf-header-section d-none d-lg-flex">
      <a class="btn btn-sm btn-warning" href="/signup">Регистрация</a>
      <a class="btn btn-sm btn-link ml-2" href="/signin">Вход</a>
    </div>
    <a class="btn btn-sm btn-warning d-lg-none ml-auto mr-1" href="/signup">Регистрация</a>
    <a class="btn btn-sm btn-link d-lg-none" href="/signin">Вход</a>
  </div>
</header>