<script src="{{site.url}}{{site.baseurl}}/assets/js/jquery.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/tether.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/bootstrap.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/slick.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/smooth-scroll.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/form-submission-handler.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/main.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/publications.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/publications-main.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/queries-slider.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/partners.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/email.js"></script>
<script src="{{site.url}}{{site.baseurl}}/assets/js/signup.js"></script>