
.pf-header {
  position: fixed;
  z-index: 210;
  height: 61px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $blue-lighter;
  border-top: 1px solid $blue-lighter;
  background-color: $white;
  line-height: 1;
  margin-top: -1px;
  font-size: 1rem;
  letter-spacing: .25px;
  .pf-header-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .container;
  }

  .pf-header-section {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .pf-header-nav {
    display: flex;
    height: 100%;
    .pf-header-nav-item {
      display: flex;
      padding-top: 5px;
      height: 100%;
      align-items: center;
      font-weight: 500;
      background-color: #fff;
      & + a {
        margin-left: 1.75rem;
      }
      &.active {
        position: relative;
        color: $black;
        &:after {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
          bottom: -7px;
          z-index: -1;
          background-color: #fff;
          border: 1px solid #dbeaf8;
        }
      }
    }
  }

  a:not(.btn) {
    color: $gray;
    &:hover, .active {
      color: darken($gray, 10%);
    }
  }

  .pf-logo {
    position: relative;
    background-color: $white;
    display: flex;
    align-items: center;
    &.active {
      &:after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        bottom: -.5rem;
        z-index: -1;
        background-color: #fff;
        border: 1px solid #dbeaf8;
      }
    }
  }

}