---
layout: default
---

<div class="text-center fw-500 px-2 d-block pt-7 pb-3 bg-blue-light f-sm text-white">
    Pressfeed — платформа продвижения с&nbsp;помощью медиа. Трафик и&nbsp;рост продаж с&nbsp;помощью экспертных
    публикаций в&nbsp;СМИ
</div>

<div class="py-3 bg-cases">
    <div class="pt-3 mb-5 mx-auto">
        <div class="pf-punchline text-center px-1">
            <a class="h1 d-block text-gray-dark" href="{{site.url}}{{site.baseurl}}/s-cases.html">Истории успеха</a>
            <p class="f-lg">Кейсы и отзывы пользователей&nbsp;— как продвигать бизнес с&nbsp;помощью Pressfeed</p>
        </div>
    </div>
    <div class="pf-layout-case">
        <div class="pf-layout-case-left">&nbsp;1</div>
        <div class="pf-layout-case-center">

            <div class="pf-case-post">

                <div class="pf-case-header fw-500"
                     style="background-image: url('{{page.thumbnail}}');">
                    <span class="text-uppercase f-xs fw-600 text-white mr-1">{{page.tag}}</span>
                    <span class="float-sm-right text-warning">{{page.company}}</span>
                    <div class="pf-case-card">
                        <h1 class="pf-case-title">{{page.title}}</h1>
                        <div class="pf-case-lead">{{page.lead | markdownify}}</div>
                    </div>
                </div>

                <div class="pf-case-body">
                    {{ content }}
                </div>

            </div>

            <!-- Extra signup for mobile -->
            <div class="container d-sm-none d-flex flex-column justify-content-center align-items-center text-center">
                <div class="card col-md-8 py-5 card-light mb-5 mx-auto">
                    <h2 class="t-l pb-4">Тоже хотите попасть в&nbsp;СМИ и&nbsp;получить больше клиентов?</h2>
                    <div><a class="btn btn-lg btn-warning" style="white-space: normal;" href="/signup">Начать работу с&nbsp;Pressfeed</a>
                    </div>
                </div>
            </div>

            <div class="text-center my-5 t-m fw-600">
                Другие кейсы
            </div>
            <div class="p-cases mx-0 mb-5">
                {% for case in site.cases %}
                {% if case.url != page.url %}
                <a class="p-cases-item sm"
                   href="{{site.url}}{{site.baseurl}}{{case.url}}"
                   style="background-image: url('{{page.thumbnail}}')">
                    <div class="p-case-inner">
                        <div class="p-case-header">
                            <span class="text-uppercase mr-1">{{case.tag}}</span>
                            <span class="float-md-right text-warning">{{case.company}}</span>
                        </div>
                        <h2 class="p-case-title">{{case.title}}</h2>
                    </div>
                    <div class="p-cases-back"></div>
                </a>
                {% endif %}
                {% endfor %}
            </div>

        </div>
        <div class="pf-layout-case-right">
            <!-- Signup in modal -->

            <div class="pf-signup-modal">

                <form class="pf-signup-form js-signup-form">

                    <div class="card-header px-2 bg-warning">
                        <span class="fw-800">Хотите так же? Начните работать с Pressfeed</span>
                    </div>

                    <div class="px-2 pb-3 bg-warning">
                        <!-- Name -->
                        <div class="form-group">
                            <input name="name" type="text" class="form-control js-input-common" placeholder="Имя"
                                   maxlength="200" minlength="1" required>
                        </div>
                        <!-- Surname -->
                        <div class="form-group">
                            <input name="surname" type="text" class="form-control js-input-common" placeholder="Фамилия"
                                   maxlength="200" minlength="1" required>
                        </div>
                        <!-- Phone -->
                        <div class="form-group">
                            <input name="phone" type="tel" class="form-control js-input-common" placeholder="Телефон"
                                   maxlength="20" minlength="6" required
                                   pattern="^[0-9-+s()]*$"
                                   title="Надо указать номер телефона, например, так: +7 555 555-55-55)">
                        </div>
                        <!-- Email - Login -->
                        <div class="form-group">
                            <input name="email" type="email" class="form-control js-input-common" placeholder="Почта"
                                   maxlength="200" minlength="5" required>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            <div class="input-group">
                                <input name="password" type="password"
                                       class="form-control js-input-common js-password-input" placeholder="Пароль"
                                       maxlength="200" minlength="5"
                                       required style="margin-right: -1px">
                                <div class="input-group-addon bg-grad-light cursor js-password-toggle">
                                    <i class="material-icons js-password-icon">visibility_off</i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="bg-warning">
                        <ul class="nav nav-pills justify-content-center px-2 pt-0">
                            <a class="btn btn-secondary w-100 f-sm fw-500 px-2 mr-2 js-signup-tab js-tab-expert"
                               data-toggle="tab" href="#expert-pane">Я эксперт</a>
                            <a class="btn btn-secondary w-100 f-sm fw-500 px-2 js-signup-tab js-tab-jour"
                               data-toggle="tab" href="#jour-pane">Я журналист</a>
                        </ul>
                        <div class="tab-content bg-white px-2">
                            <div class="tab-pane js-pane-expert pt-3" id="expert-pane" role="tabpanel">
                                <!-- Company name -->
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control js-input-expert"
                                           id="company-name"
                                           placeholder="Название вашей компании"
                                           maxlength="200" minlength="1">
                                </div>
                                <!-- Position -->
                                <div class="form-group">
                                    <input name="position" type="text" class="form-control js-input-expert"
                                           id="company-position"
                                           placeholder="Ваша должность"
                                           maxlength="200" minlength="2">
                                </div>
                            </div>
                            <div class="tab-pane js-pane-jour pt-3" id="jour-pane" role="tabpanel">
                                <!-- Media name -->
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control js-input-jour" id="media-name"
                                           placeholder="Название вашего СМИ" maxlength="200" minlength="1">
                                </div>
                                <!-- Position -->
                                <div class="form-group">
                                    <input name="position" type="text" class="form-control js-input-jour"
                                           id="media-position"
                                           placeholder="Ваша должность" maxlength="200" minlength="2">
                                </div>
                                <!-- Site -->
                                <div class="form-group">
                                    <input name="site" type="text" class="form-control js-input-jour" id="media-site"
                                           placeholder="Сайт СМИ" maxlength="200" minlength="4">
                                </div>
                                <!-- City -->
                                <div class="form-group">
                                    <input name="city" type="text" class="form-control js-input-jour" id="media-city"
                                           placeholder="Город">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="card-footer px-2 js-signup-footer">
                        <button type="submit" class="btn btn-danger btn-block text-white fw-600 js-submit-button">
                            Зарегистрироваться
                        </button>
                    </div>


                </form>

                <div class="js-signup-message d-none align-items-start text-danger fw-500  pt-1 f-xs">
                    <i class="material-icons t-n">error</i>&nbsp;<span class="js-signup-message-text">fdjdfkdkfjkdjfjdkjf dklkdlskd sdd</span>
                </div>

            </div>
        </div>
    </div>
</div>


