---
layout: default
---

<div class="text-center fw-500 px-2 d-block pt-6 pb-1 bg-blue-light f-sm text-white">
    Pressfeed — платформа продвижения с&nbsp;помощью медиа. Трафик и&nbsp;рост продаж с&nbsp;помощью экспертных
    публикаций в&nbsp;СМИ
</div>

<section class="pf-section pf-section-first pf-section-zero container-fluid pb-0 pt-5 bg-grad-cases bg-cases px-0">

    <div class="mb-3">
        <div class="pf-punchline text-center px-1">
            <a class="h1 mb-3 text-gray-dark" href="{{site.url}}{{site.baseurl}}/s-cases.html">Истории успеха</a>
            <p class="f-lg">Кейсы и отзывы пользователей&nbsp;— как продвигать бизнес с&nbsp;помощью Pressfeed</p>
        </div>
    </div>

    <div class="pf-layout-case">
        <div class="pf-layout-case-left">&nbsp;</div>
        <div class="pf-layout-case-center">

            <div class="pf-case-post">

                <div class="pf-case-header fw-500"
                     style="background-image: url('{{site.url}}{{site.baseurl}}/{{page.thumbnail}}');">
                    <span class="text-uppercase f-xs fw-600 text-white mr-1">{{page.tag}}</span>
                    <span class="float-sm-right text-warning">{{page.company}}</span>
                    <div class="pf-case-card">
                        <h1 class="pf-case-title">{{page.title}}</h1>
                        <div class="pf-case-lead">{{page.lead | markdownify}}</div>
                    </div>
                </div>

                <div class="pf-case-body">
                    {{ content }}
                </div>

            </div>

            <!-- Extra signup for mobile -->
            <div class="container d-sm-none d-flex flex-column justify-content-center align-items-center text-center">
                <div class="card col-md-8 py-5 card-light mb-5 mx-auto">
                    <h2 class="t-l pb-4">Тоже хотите попасть в&nbsp;СМИ и&nbsp;получить больше клиентов?</h2>
                    <div><a class="btn btn-lg btn-warning" style="white-space: normal;" href="/signup">Начать работу с&nbsp;Pressfeed</a>
                    </div>
                </div>
            </div>

            <div class="text-center my-5 t-m fw-600">
                Другие кейсы
            </div>
            <div class="p-cases mx-0 mb-5">
                {% for case in site.cases %}
                {% if case.url != page.url %}
                <a class="p-cases-item sm"
                   href="{{site.url}}{{site.baseurl}}{{case.url}}"
                   style="background-image: url({{site.url}}{{site.baseurl}}/{{case.thumbnail}})">
                    <div class="p-case-inner">
                        <div class="p-case-header">
                            <span class="text-uppercase mr-1">{{case.tag}}</span>
                            <span class="float-md-right text-warning">{{case.company}}</span>
                        </div>
                        <h2 class="p-case-title">{{case.title}}</h2>
                    </div>
                    <div class="p-cases-back"></div>
                </a>
                {% endif %}
                {% endfor %}
            </div>

        </div>
        <div class="pf-layout-case-right">
            {%- include signup.html -%}
        </div>
    </div>

</section>


